caption {
    display:table-caption;
    align-content:center;
    font-family: cursive;
    font-size: x-large;
}
table {
    width:60%;
    margin:auto;
    background-color: lightblue;
    border-collapse: collapse;
}
table,th,td {
    border: 1px solid black;
}
th, td {
    width: 50%;
    padding: 10px;
    text-align: center;
} 